.toggleCalc {
  height: 2vw;
}

.toggleCalc :hover {
  cursor: pointer;
}

.calcContainer {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: flex-end;
}